footer(id="l-footer")
    span(class="footer-logo")
    address
        p CataStudio.com
        p
            small Víctor Catalina Hermoso
    ul(id="rrss" class="social-media is-floating")
        li
            a(
                href="https://es.linkedin.com/in/victorcata/en"
                target="_blank"
                class="icon-linkedin"
                title="Linkedin"
            )
        li
            a(
                href="https://github.com/victorcata"
                target="_blank"
                class="icon-github"
                title="Github"
            )