if work.title === ""
    <div class="work work-empty">
        <p>#{work.description}</p>
    </div>
else
    if work.password
        <button class="work #{work.className}">
            <div class="work-logo">
                <span class="#{work.logo}"></span>
            </div>
            <h2>#{work.title}</h2>
            <p class="work-description">#{work.description}</p>
        </button>
    else
        <span>sinpassword</span>
        <a class="work #{work.className}" href="#{work.path}">
            <div class="work-logo">
                <span class="#{work.logo}"></span>
            </div>
            <h2>#{work.title}</h2>
            <p class="work-description">#{work.description}</p>
        </a>
