<div class="skill" data-skill="#{skill.skill}">
    <div class="skill-body">
        <div class="skill-logo sprite-skill #{skill.class}"></div>
        <div class="skill-level">
            <p>#{skill.name}</p>
            <div class="progressbar">
                <div class="percentage #{skill.levelClass}" data-level="#{skill.level}"></div>
            </div>
        </div>
    </div>
    <div class="skill-extra">
        <p>#{skill.desc}</p>
    </div>
</div>